* {
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* gird */
.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "hd"
        "wk"
        "mn"
        "ft";
}

/* header */
.header {
    grid-area: hd;
    background-color: #0D0D0D;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: 130px;
    cursor: pointer;
}


.home-button {
    width: 250px;
    height: 100px;
    font-size: 40px;
    background-color: #2F2E2E;
    color: white;
    font-weight: 1000;
    border: 10px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #5B5959;
}

.over-mij-button {
    width: 250px;
    height: 100px;
    font-size: 35px;
    background-color: #2F2E2E;
    color: white;
    font-weight: 1000;
    border: 10px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.over-mij-button:hover {
    background-color: #5B5959;
}

.project-button {
    width: 250px;
    height: 100px;
    font-size: 30px;
    background-color: #5B5959;
    color: white;
    font-weight: 1000;
    border: 10px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.project-button:hover {
    background-color: #5B5959;
}

.scooter-button {
    width: 250px;
    height: 100px;
    font-size: 25px;
    background-color: #2F2E2E;
    color: white;
    font-weight: 1000;
    border: 10px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.scooter-button:hover {
    background-color: #5B5959;
}

.black {
    width: 0px;
}

/* main */
.main {
    grid-area: mn;
    background-color: #0D0D0D;
    height: 555px;
    display: grid;
    padding: 75px;
    color: white;
    grid-template-columns: 1fr 1fr;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.left-text {
    text-align: center;
}

.titel {
    font-size: 40px;
    font-weight: 1000;
}

.text {
    font-size: 23px;
    text-align: start;
    font-weight: 1000;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 600px;
    height: 370px;
}

/* footer */
.credit {
    margin-left: 15px;
    font-size: 22px;
}

.instagram-logo {
    width: 60px;
    height: 50px;
    cursor: pointer;

}

.snap-logo {
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.whatsapp-logo {
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.location-logo {
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.footer {
    grid-area: ft;
    background-color: #0D0D0D;
    height: 83px;
    color: white;
    font-weight: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}
