* {
    background-color: #0D0D0D;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 5px;
    left: 45px;
    width: 150px;
    height: 130px;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 380px;
    width: 250px;
    height: 100px;
    font-size: 40px;
    background-color: #5B5959;
    color: white;
    font-weight: 1000;
    border: 10px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #5B5959;
}

.over-mij-button {
    position: absolute;
    top: 20px;
    left: 680px;
    width: 250px;
    height: 100px;
    font-size: 35px;
    background-color: #2F2E2E;
    color: white;
    font-weight: 1000;
    border: 10px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.over-mij-button:hover {
    background-color: #5B5959;
}

.project-button {
    position: absolute;
    top: 20px;
    left: 980px;
    width: 250px;
    height: 100px;
    font-size: 30px;
    background-color: #2F2E2E;
    color: white;
    font-weight: 1000;
    border: 10px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.project-button:hover {
    background-color: #5B5959;
}

.scooter-button {
    position: absolute;
    top: 20px;
    left: 1280px;
    width: 250px;
    height: 100px;
    font-size: 25px;
    background-color: #2F2E2E;
    color: white;
    font-weight: 1000;
    border: 10px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.scooter-button:hover {
    background-color: #5B5959;
}

.welcome-foto {
    position: absolute;
    top: 150px;
    left: 0;
    width: 1920px;
    height: 850px;
}

.welcome-text {
    position: absolute;
    top: 385px;
    left: 720px;
    font-size: 85px;
    color: white;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5b595900;
}

.credit {
    position: absolute;
    top: 905px;
    left: 40px;
    font-size: 25px;
    color: white;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5b595900;
    z-index: 1;
}

.instagram-logo {
    position: absolute;
    top: 895px;
    left: 1840px;
    width: 60px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
}

.snap-logo {
    position: absolute;
    top: 895px;
    left: 1775px;
    width: 60px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
}

.whatsapp-logo {
    position: absolute;
    top: 895px;
    left: 1715px;
    width: 60px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
}

.location-logo {
    position: absolute;
    top: 895px;
    left: 1655px;
    width: 60px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
}

.balk-bottom {
    position: absolute;
    top: 883px;
    left: 0px;
    width: 1920px;
    height: 80px;
    background-color: #0D0D0D;
}